*,*::before,*::after{box-sizing:border-box}*:not(dialog){margin:0}@media (prefers-reduced-motion:no-preference){html{interpolate-size:allow-keywords}}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#root,#__next{isolation:isolate}body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-size:16px}
.main-raw{max-width:1000px;margin:0 auto}
.page-header {
  background: #fffaf4;
  margin-bottom: 20px;
  padding: 10px 0;
}
.page-header h1 {
  font-size: 20px;
}
.page-description {
  font-size: .8em;
}
.tabs {
  margin-bottom: 10px;
}
.tab-btn {
  padding: 2px 8px;
  font-size: .8em;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: #fffaf4;
}
ol,ul {
  margin-left: 40px;
}
p {
  margin-bottom: 15px;
}
